### WEB-SCRAPING ASSIGNMENT 4

#### Q 1) Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [1]:
#import required libraries
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting to the chrome driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")
driver.maximize_window()

In [3]:
# pass the url of wikipedia
url= "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [4]:
#scroll down the page
driver.execute_script("window.scrollTo(0, 1000)")  #1000 is the height that needs to be scrolled

In [5]:
#finding details
details=[]
for i in driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td"):
    details.append(i.text.replace("\n"," "))
details[0:6]

['1.',
 '"Baby Shark Dance"[22]',
 "Pinkfong Kids' Songs & Stories",
 '8.44',
 'June 17, 2016',
 '[B]']

In [6]:
#seperating the details
#creating empty list
rank=[]
name=[]
artist=[]
views=[]
upload=[]
count=0
#seperating details using indexing
while count<int(len(details)):
    rank.append(details[count])
    name.append(details[count+1])
    artist.append(details[count+2])
    views.append(details[count+3])
    upload.append(details[count+4])
    count=count+6 
print(rank[0:4])
print(name[0:4])
print(artist[0:4])
print(views[0:4])
print(upload[0:4])

['1.', '2.', '3.', '4.']
['"Baby Shark Dance"[22]', '"Despacito"[24]', '"Shape of You"[25]', '"Johny Johny Yes Papa"[26]']
["Pinkfong Kids' Songs & Stories", 'Luis Fonsi', 'Ed Sheeran', 'LooLoo Kids']
['8.44', '7.32', '5.29', '5.24']
['June 17, 2016', 'January 12, 2017', 'January 30, 2017', 'October 8, 2016']

In [7]:
#check the length of each
print(len(rank))
print(len(name))
print(len(artist))
print(len(views))
print(len(upload))

30
30
30
30
30

In [8]:
#creating dataframe
df=pd.DataFrame({})
df["Rank"]=rank
df["Name"]=name
df["Artist"]=artist
df['Upload date']=upload
df['Views']=views
df

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.44
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.32
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.29
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.24
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.08
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.43
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.16
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.05
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.97
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.95
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.78
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.45
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.43
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.34
14,15.,"""Dame Tu Cosita""[40]",El Chombo,"April 5, 2018",3.28
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.27
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.24
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.05
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.05
19,20.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.05
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",3.02
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.01
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.01
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.97
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.90
25,26.,"""Wheels on the Bus""[51]",Cocomelon – Nursery Rhymes,"May 24, 2018",2.89
26,27.,"""Hello""[52]",Adele,"October 22, 2015",2.83
27,28.,"""Perfect""[53]",Ed Sheeran,"November 9, 2017",2.82
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.80
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.77

#### Q 2) Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [9]:
#pass page url
driver.get("https://www.bcci.tv/")

In [10]:
#from international dropdown go to fixtures
fixtures=driver.find_element_by_xpath("//div[@class='drop-down__options']/ul/li[1]/a").get_attribute("href")
print(fixtures)
driver.get(fixtures)

https://www.bcci.tv/international/fixtures

In [11]:
#create empty list
match_title=[]
place=[]
series=[]
date=[]
time=[]
#match title
for title in driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/p"):
    match_title.append(title.text.split("\n")[0])
#place    
for s in driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/p"):
    place.append(s.text.split("\n")[1])
#series
for s in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]"):
    series.append(s.text)        
#date
for d in driver.find_elements_by_xpath("//div[@class='fixture__full-date']"):
    date.append(d.text.split("\n")[0:2])
#time
for d in driver.find_elements_by_xpath("//div[@class='fixture__full-date']"):
    time.append(d.text.split("\n")[-1])

print(match_title)
print(place)
print(series)
print(date)
print(time)

['Final', '1st Test', '2nd Test', '3rd Test', '4th Test', '5th Test']
['The Ageas Bowl, Southampton', 'Trent Bridge, Nottingham', "Lord's, London", 'Headingley, Leeds', 'The Oval, London', 'Old Trafford, Manchester']
['ICC WORLD TEST CHAMPIONSHIP FINAL', 'ENGLAND V INDIA 2021', 'ENGLAND V INDIA 2021', 'ENGLAND V INDIA 2021', 'ENGLAND V INDIA 2021', 'ENGLAND V INDIA 2021']
[['18', 'JUNE'], ['04', 'AUGUST'], ['12', 'AUGUST'], ['25', 'AUGUST'], ['02', 'SEPTEMBER'], ['10', 'SEPTEMBER']]
['15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST']

In [12]:
#check length
print(len(match_title))
print(len(series))
print(len(place))
print(len(date))
print(len(time))

6
6
6
6
6

In [13]:
#creating dataframe
df=pd.DataFrame({})
df["Match Title"]=match_title
df["Series"]=series
df["Place"]=place
df["Date"]=date
df["Time"]=time
df

,Match Title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP FINAL,"The Ageas Bowl, Southampton","[18, JUNE]",15:30 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham","[04, AUGUST]",15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London","[12, AUGUST]",15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds","[25, AUGUST]",15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London","[02, SEPTEMBER]",15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester","[10, SEPTEMBER]",15:30 IST

#### Q 3 ) Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [14]:
#sending the url of required page
driver.get("https://www.guru99.com/")

In [15]:
#click on  selenium in Testing section 
selenium_url=driver.find_element_by_xpath("//ul[@class='menu']/li[3]/a").get_attribute("href") 
print(selenium_url)
driver.get(selenium_url)

https://www.guru99.com/selenium-tutorial.html

In [16]:
#scroll below to find selenium exception option in advance web driver stuff section
driver.execute_script("window.scrollTo(0, 3000)")

In [17]:
#click on "selenium exceptions"
exception_page=driver.find_element_by_xpath("//main[@id='g-mainbar']/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a").get_attribute("href")
print(exception_page)
driver.get(exception_page)

https://www.guru99.com/exception-handling-selenium.html

In [18]:
#scroll down to find the table of exceptions and its descriptions 
driver.execute_script("window.scrollTo(0,500)")

In [19]:
#create empty list
exception_name=[]
description=[]

#exception name
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
    exception_name.append(i.text)
#description of each exception
for desc in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
    description.append(desc.text)
    
print(exception_name[0:3])
print(description[0:3])

['Exception name', 'ElementNotVisibleException', 'ElementNotSelectableException']
['Description', 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.', 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.']

In [20]:
#check the lengths of each
print(len(exception_name))
print(len(description))

42
42

In [21]:
#creating dataframe
df=pd.DataFrame({})
df['Exception Name']=exception_name[1:]  # slice at 1 because we dont want the heading
df['Description']=description[1:]
df

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

#### Q 4) Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [22]:
#pass url of web page
driver.get("http://statisticstimes.com/")

In [23]:
#economy=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button")
#economy.click()

In [24]:
#indias gdp
india=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").get_attribute("href")
print(india)
driver.get(india)

http://statisticstimes.com/economy/india-statistics.php

In [25]:
#clicking on GDP of Indian states
GDP_of_indian_states=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").get_attribute("href")
print(GDP_of_indian_states)
driver.get(GDP_of_indian_states)

http://statisticstimes.com/economy/india/indian-states-gdp.php

In [26]:
#scroll down to find the chart
driver.execute_script("window.scrollTo(0,1000)")

In [27]:
#scrapping details
ranks=[]
states=[]
GSDP_18_19=[]
GSDP_19_20=[]
share_18_19=[]
GDP_in_billion=[]
#rank
for rank in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[1]"):
    ranks.append(rank.text)
#states
for state in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[2]"):
    states.append(state.text)
#gsdp 18-19
for gsdp in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[4]"):
    GSDP_18_19.append(gsdp.text)  
#gsdp for 19-20
for gsdp in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[3]"):
    GSDP_19_20.append(gsdp.text)    
#share    
for share in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[5]"):
    share_18_19.append(share.text)    
#gdp in $ billion
for gdp in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[6]"):
    GDP_in_billion.append(gdp.text)
       
print(ranks[0:2])
print(states[0:2])
print(GSDP_18_19[0:2])
print(GSDP_19_20[0:2])
print(share_18_19[0:2])
print(GDP_in_billion[0:2])

['1', '2']
['Maharashtra', 'Tamil Nadu']
['2,632,792', '1,630,208']
['-', '1,845,853']
['13.88%', '8.59%']
['398.145', '246.529']

In [28]:
#check length of each
print(len(ranks))
print(len(states))
print(len(GSDP_18_19))
print(len(GSDP_19_20))
print(len(share_18_19))
print(len(GDP_in_billion))

33
33
33
33
33
33

In [29]:
#store collected information in dataframe
df=pd.DataFrame({})
df["Rank"]=ranks
df["State"]=states
df["GSDP(19-20)"]=GSDP_19_20
df["GSDP(18-19)"]=GSDP_18_19
df["Share(18-19)"]=share_18_19
df["GDP($ billion)"]=GDP_in_billion
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

#### Q 5) Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [30]:
#pass the webpage url
driver.get("https://github.com/")

In [31]:
#from explore go to trending option
trending=driver.find_element_by_xpath("//details[@class='HeaderMenu-details details-overlay details-reset width-full']/div/ul[2]/li[3]/a").get_attribute("href") 
print(trending)
driver.get(trending)

https://github.com/trending

In [32]:
#creating empty list to store scrapped data
repository_title=[]
repository_description=[]
contributors_count=[]
language_used=[]

In [33]:
#respository title
for title in driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a"):
    repository_title.append(title.text)
print(repository_title[0:3])

['supabase / supabase', 'Kotlin / kmm-production-sample', 'commaai / openpilot']

In [34]:
#for further deatils we will visit each repositorys url seperately
#fetching url of each repository
url_list=[]
for url in driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a"):
    url_list.append(url.get_attribute("href"))
url_list[0:3]

['https://github.com/supabase/supabase',
 'https://github.com/Kotlin/kmm-production-sample',
 'https://github.com/commaai/openpilot']

In [35]:
#visit each repository
for i in url_list:
    driver.get(i)
    #repository description
    try:
        description=driver.find_element_by_xpath("//div[@class='BorderGrid-cell']/p")
        repository_description.append(description.text)
    except NoSuchElementException as e:
        repository_description.append("---")
     #contributors count  #use contains in xpath to fetch only contributors
    try:
        count=driver.find_element_by_xpath("//*[@id='repo-content-pjax-container']/div/div[2]/div[2]/div/div[5]/div/h2/a[contains(text(),'Contributors ')]")
        contributors_count.append(count.text.split(" ")[1])
    except NoSuchElementException as e:
        contributors_count.append("---")
    #language used
    try:
        lang=driver.find_element_by_xpath("//*[@id='repo-content-pjax-container']/div/div[2]/div[2]/div/div[6]/div/ul")
        language_used.append(lang.text.replace("\n"," "))
    except NoSuchElementException as e:
        language_used.append("---")
        
print(repository_description[0:2])
print(contributors_count[0:2])
print(language_used[0:2])

['The open source Firebase alternative. Follow to stay updated about our public Beta.', '---']
['91', '3']
['TypeScript 65.4% JavaScript 21.7% CSS 11.4% Other 1.5%', 'Kotlin 80.3% Swift 19.7%']

In [36]:
#check length of each
print(len(repository_title))
print(len(repository_description))
print(len(contributors_count))
print(len(language_used))

25
25
25
25

In [37]:
#create dataframe
df=pd.DataFrame({})
df["Repository title"]=repository_title
df["Repository description"]=repository_description
df["Contributors count"]=contributors_count
df["Language used"]=language_used
df

,Repository title,Repository description,Contributors count,Language used
0,supabase / supabase,The open source Firebase alternative. Follow t...,91,TypeScript 65.4% JavaScript 21.7% CSS 11.4% Ot...
1,Kotlin / kmm-production-sample,---,3,Kotlin 80.3% Swift 19.7%
2,commaai / openpilot,openpilot is an open source driver assistance ...,---,---
3,golang-standards / project-layout,Standard Go Project Layout,34,Makefile 100.0%
4,raydium-io / raydium-ui,---,3,TypeScript 49.3% Vue 48.8% Other 1.9%
5,twintproject / twint,An advanced Twitter scraping & OSINT tool writ...,---,
6,wisz2021 / jd_docker,仅用查看文档,2,Shell 58.8% JavaScript 33.5% Dockerfile 7.1% P...
7,passerby-b / JDDJ,"京东到家果园庄园脚本,电报群:https://t.me/joinchat/wH4Ks3mT6...",---,---
8,TritonHo / slides,it is a repository to store all slides used by...,---,---
9,wuyouzhuguli / SpringAll,循序渐进，学习Spring Boot、Spring Boot & Shiro、Spring ...,2,Java 92.7% HTML 3.6% CSS 3.5% Other 0.2%
10,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,44,---
11,androidmalware / android_hid,Use Android as Rubber Ducky against another An...,---,---
12,doocs / leetcode,😏 LeetCode solutions in any programming langua...,---,
13,flashlight / flashlight,A C++ standalone library for machine learning,45,C++ 58.4% Jupyter Notebook 34.0% CMake 4.9% Py...
14,Datalux / Osintgram,Osintgram is a OSINT tool on Instagram. It off...,12,Python 96.0% Makefile 2.8% Dockerfile 1.2%
15,chrisleekr / binance-trading-bot,Automated Binance trading bot - Buy low/Sell h...,---,---
16,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,---,
17,nrwl / nx,"Powerful, Extensible Dev Tools",270,TypeScript 98.5% JavaScript 1.1% Other 0.4%
18,nextapps-de / winbox,WinBox is a professional HTML5 window manager ...,---,---
19,thedevdojo / wave,"Wave - The Software as a Service Starter Kit, ...",2,PHP 73.1% Blade 26.8% Shell 0.1%
20,521xueweihan / HelloGitHub,分享 GitHub 上有趣、入门级的开源项目,11,Python 100.0%
21,PaddlePaddle / PaddleDetection,Object detection and instance segmentation too...,55,Python 65.5% Jupyter Notebook 28.3% C++ 2.7% J...
22,yuk1ty / learning-systems-programming-in-rust,「Rustでもわかるシステムプログラミング」,4,Rust 100.0%
23,terraform-providers / terraform-provider-azurerm,Terraform provider for Azure Resource Manager,857,Go 99.8% Other 0.2%
24,OWASP / CheatSheetSeries,The OWASP Cheat Sheet Series was created to pr...,---,---

#### Q 6 ) Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [38]:
#web page url
driver.get(" https://www.billboard.com/")

In [39]:
#visit charts ption
charts=driver.find_element_by_xpath("//div[@class='header__main-menu__wrapper flex--grow']/ul/li/a").get_attribute("href")
print(charts)
driver.get(charts)

https://www.billboard.com/charts

In [40]:
#click on view chart
view_chart=driver.find_element_by_xpath("//main[@id='main']/div[2]/div/div[1]/a/div[2]/div[2]/div[1]")
view_chart.click()

In [41]:
#scroll down to view chart
driver.execute_script("window.scrollTo(0,1500)")

In [42]:
#scrap details
rank=[]
song_name=[]
artist_name=[]
#rank
for i in driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']/div/ol/li/button/span[1]"):
    rank.append(i.text.split("\n")[0])
#song name
for song in driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']/div/ol/li/button/span[2]/span[1]"):
    song_name.append(song.text)
#artist name
for artist in driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']/div/ol/li/button/span[2]/span[2]"):
    artist_name.append(artist.text)
    
print(rank[0:4])
print(song_name[0:4])
print(artist_name[0:4])

['1', '2', '3', '4']
['Rapstar', 'Leave The Door Open', 'Peaches', 'Montero (Call Me By Your Name)']
['Polo G', 'Silk Sonic (Bruno Mars & Anderson .Paak)', 'Justin Bieber Featuring Daniel Caesar & Giveon', 'Lil Nas X']

In [43]:
#ranks
ranks=[]
for r in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div"):
    ranks.append(r.text)
ranks

['1',
 '1',
 '2',
 '',
 '3',
 '1',
 '7',
 '',
 '4',
 '1',
 '5',
 '2',
 '1',
 '4',
 '',
 '6',
 '5',
 '29',
 '',
 '5',
 '4',
 '19',
 '',
 '10',
 '7',
 '10',
 '7',
 '7',
 '2',
 '8',
 '1',
 '11',
 '9',
 '1',
 '15',
 '',
 '15',
 '8',
 '3',
 '',
 '-',
 '12',
 '1',
 '11',
 '1',
 '72',
 '12',
 '12',
 '14',
 '',
 '17',
 '14',
 '15',
 '13',
 '3',
 '10',
 '14',
 '9',
 '33',
 '',
 '-',
 '18',
 '1',
 '18',
 '1',
 '37',
 '',
 '26',
 '20',
 '10',
 '19',
 '19',
 '17',
 '',
 '27',
 '22',
 '7',
 '20',
 '13',
 '16',
 '22',
 '3',
 '50',
 '23',
 '17',
 '35',
 '21',
 '2',
 '25',
 '',
 '28',
 '21',
 '36',
 '25',
 '1',
 '7',
 '34',
 '5',
 '25',
 '24',
 '2',
 '24',
 '32',
 '30',
 '20',
 '33',
 '23',
 '20',
 '31',
 '1',
 '26',
 '29',
 '18',
 '20',
 '',
 '44',
 '2',
 '26',
 '',
 '47',
 '2',
 '7',
 '35',
 '35',
 '9',
 '',
 '45',
 '38',
 '10',
 '',
 '41',
 '39',
 '14',
 '36',
 '6',
 '42',
 '',
 '58',
 '41',
 '15',
 '',
 '43',
 '42',
 '9',
 '37',
 '26',
 '11',
 '39',
 '9',
 '17',
 '42',
 '25',
 '34',
 '',
 '-',
 '46',
 '1',
 '',
 '50',
 '47',
 '14',
 '38',
 '11',
 '5',
 '',
 '67',
 '49',
 '8',
 '',
 '59',
 '50',
 '14',
 '48',
 '16',
 '15',
 '54',
 '29',
 '18',
 '51',
 '37',
 '11',
 '56',
 '39',
 '9',
 '49',
 '28',
 '20',
 '',
 '63',
 '20',
 '7',
 '53',
 '16',
 '6',
 '57',
 '31',
 '17',
 '',
 '-',
 '59',
 '1',
 '62',
 '1',
 '19',
 '68',
 '44',
 '19',
 '55',
 '22',
 '4',
 '',
 '78',
 '63',
 '11',
 '',
 '74',
 '53',
 '13',
 '',
 '76',
 '65',
 '6',
 '',
 '-',
 '66',
 '1',
 '64',
 '42',
 '5',
 '70',
 '6',
 '16',
 '61',
 '36',
 '17',
 '66',
 '52',
 '15',
 '',
 '85',
 '71',
 '11',
 '',
 '96',
 '62',
 '19',
 '',
 '90',
 '73',
 '4',
 '',
 '99',
 '74',
 '6',
 '73',
 '45',
 '11',
 '80',
 '73',
 '13',
 '',
 '-',
 '77',
 '1',
 '',
 '83',
 '69',
 '9',
 '',
 '-',
 '79',
 '2',
 '82',
 '55',
 '13',
 '',
 '-',
 '40',
 '7',
 '60',
 '45',
 '16',
 '77',
 '69',
 '6',
 '',
 '-',
 '83',
 '3',
 '69',
 '59',
 '15',
 '',
 '91',
 '85',
 '8',
 '81',
 '81',
 '2',
 '',
 '86',
 '75',
 '13',
 '',
 '92',
 '89',
 '5',
 '30',
 '30',
 '3',
 '',
 '-',
 '91',
 '1',
 '97',
 '9',
 '15',
 '79',
 '50',
 '3',
 '',
 '-',
 '94',
 '2',
 '',
 '-',
 '75',
 '16',
 '',
 '-',
 '96',
 '1',
 '',
 '-',
 '31',
 '12',
 '95',
 '55',
 '17',
 '',
 '-',
 '99',
 '1',
 '84',
 '67',
 '3']

In [44]:
#remove the blank spaces in list
ranks=' '.join(ranks).split()
ranks[0:8]

['1', '1', '2', '3', '1', '7', '4', '1']

In [45]:
#this list includes all 3 details i.e last week rank , peak rank and weeks on chart
print(len(ranks))

300

In [46]:
#seperating the details
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

count=0
while count<int(len(ranks)):
    last_week_rank.append(ranks[count])
    peak_rank.append(ranks[count+1])
    weeks_on_board.append(ranks[count+2])
    count=count+3         
    
print(last_week_rank[0:4])
print(peak_rank[0:4])
print(weeks_on_board[0:4])

['1', '3', '4', '2']
['1', '1', '1', '1']
['2', '7', '5', '4']

In [47]:
#checking the length of each list
print(len(last_week_rank))
print(len(peak_rank))
print(len(weeks_on_board))

100
100
100

In [48]:
#checking list length
print(len(rank))
print(len(song_name))
print(len(artist_name))

100
100
100

In [49]:
#creating dataframe
df=pd.DataFrame({})
df["Rank"]=rank
df["Song"]=song_name
df['Artist']=artist_name
df['Last rank']=last_week_rank
df['Peak rank']=peak_rank
df['weeks on chart']=weeks_on_board
df

,Rank,Song,Artist,Last rank,Peak rank,weeks on chart
0,1,Rapstar,Polo G,1,1,2
1,2,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),3,1,7
2,3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,4,1,5
3,4,Montero (Call Me By Your Name),Lil Nas X,2,1,4
4,5,Levitating,Dua Lipa Featuring DaBaby,6,5,29
...,...,...,...,...,...,...
95,96,Go!,Moneybagg Yo Featuring BIG30,-,96,1
96,97,Drankin N Smokin,Future & Lil Uzi Vert,-,31,12
97,98,Monsters,All Time Low Featuring Demi Lovato & blackbear,95,55,17
98,99,Slatty,Young Thug & Gunna Featuring Yak Gotti & Lil Duke,-,99,1
99,100,4 Da Gang,42 Dugg & Roddy Ricch,84,67,3

#### Q 7)Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [50]:
#pass the webpage url
driver.get("https://www.naukri.com/")

In [51]:
#visiting recruiters from home page
recruiters=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").get_attribute("href")
print(recruiters)
driver.get(recruiters)

https://www.naukri.com/recruiters

In [52]:
#pass data science in the search bar
search_bar=driver.find_element_by_xpath("//input[@class='sugInp']")
search_bar.send_keys("Data Science")
#click on search button
search_button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
search_button.click()

In [53]:
#create empty list
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]
#name 
for names in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(names.text)
#designation
for desg in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    Designation.append(desg.text)
#Company
for comp in driver.find_elements_by_xpath("//a[2][@class='ellipsis']"):
    Company.append(comp.text)    
#Skills
for skill in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    Skills.append(skill.text)    
    
print(Name[0:3])
print(Designation[0:3])
print(Company[0:3])
print(Skills[0:3])

['Aakash Harit', 'shravan Kumar Gaddam', 'Talent Acquisition Executive']
['HR Manager', 'Company Recruiter', 'Recruitment Professional']
['Data Science Network', 'Shore Infotech India Pvt. Ltd', 'XenonStack']
['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional', '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software', 'Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet']

#### For location we will visit each url individually

In [54]:
#collect url of each recruiter
url_list=[]
for urls in driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]"):
    url_list.append(urls.get_attribute("href"))
url_list[0:3]

['https://www.naukri.com/recruiters/aakashharit-1986742?xid=161986766897013100&xp=1',
 'https://www.naukri.com/recruiters/shravankumargaddam-353487?xid=161986766897013100&xp=2',
 'https://www.naukri.com/recruiters/Xenonstack?xid=161986766897013100&xp=3']

In [55]:
#visit each url and fetch the location
Location=[]
for i in url_list:
    driver.get(i)
    try:
        loc=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a")
        Location.append(loc.text)
    except NoSuchElementException as e:
        Location.append("---")
print(Location[0:3])

['Delhi', 'Hyderabad / Secunderabad', 'Chandigarh']

In [56]:
#check length of each list
print(len(Name))
print(len(Designation))
print(len(Company))
print(len(Skills))
print(len(Location))

50
50
50
50
50

In [57]:
#creating dataframe
df=pd.DataFrame({})
df["Name"]=Name
df["Designation"]=Designation
df["Company"]=Company
df['Skills they hire for']=Skills
df["Location"]=Location
df

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Nagpur
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
33,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
34,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
39,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
42,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
43,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
44,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
45,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
46,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

#### Q 8) Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [58]:
#pass the webpage url
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [59]:
#scroll down to find the chart
driver.execute_script("window.scrollTo(0,2000)")

In [60]:
#extracting the details
#ceate empty list to store the details
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]
#book_name
for name in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[2]"):
    book_name.append(name.text)
#author_name
for author in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[3]"):
    author_name.append(author.text)
#volumes sold
for volumes in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[4]"):
    volumes_sold.append(volumes.text)
#publisher
for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[5]"):
    publisher.append(i.text)
#genre
for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[6]"):
    genre.append(i.text)
        
#view the scarpped details    
print(book_name[0:2])
print(author_name[0:2])
print(volumes_sold[0:2])
print(publisher[0:2])
print(genre[0:2])

['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows']
['Brown, Dan', 'Rowling, J.K.']
['5,094,805', '4,475,152']
['Transworld', 'Bloomsbury']
['Crime, Thriller & Adventure', "Children's Fiction"]

In [61]:
#check length of gathered info
print(len(book_name))
print(len(author_name))
print(len(volumes_sold))
print(len(publisher))
print(len(genre))

100
100
100
100
100

In [62]:
#create dataframe
df=pd.DataFrame({})
df["Book Name"]=book_name
df["Author name"]=author_name
df["Volumes sold"]=volumes_sold
df["Publisher"]=publisher
df["Genre"]=genre
df

,Book Name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#### Q 9) Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [63]:
#web page url
driver.get("https://www.imdb.com/list/ls095964455/")

In [64]:
#extracting info
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]
#name
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a"):
    name.append(i.text)
#year_span
for year in driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/span[2]"):
    year_span.append(year.text)
#genre
for g in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[5]"):
    genre.append(g.text)
#run_time
for time in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[3]"):
    run_time.append(time.text)
#ratings
for v in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]"):
    votes.append(v.text)
#votes
for rate in driver.find_elements_by_xpath("//div[@class='lister-item-content']/div[1]/div/span[2]"):
    ratings.append(rate.text)
    
print(name[0:2])
print(year_span[0:2])
print(genre[0:2])
print(run_time[0:2])
print(ratings[0:2])
print(votes[0:2])

['Game of Thrones', 'Stranger Things']
['(2011–2019)', '(2016– )']
['Action, Adventure, Drama', 'Drama, Fantasy, Horror']
['57 min', '51 min']
['9.3', '8.7']
['1,801,114', '846,518']

In [65]:
#check lengths
print(len(name))
print(len(year_span))
print(len(genre))
print(len(run_time))
print(len(ratings))
print(len(votes))

100
100
100
100
100
100

In [66]:
#creating dataframe
df=pd.DataFrame({})
df["Name"]=name
df["Year span"]=year_span
df["Genre"]=genre
df["Run time"]=run_time
df["Ratings"]=ratings
df["Votes"]=votes
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,801,114"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"846,518"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"867,295"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"260,018"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"220,972"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,190"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,640"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"165,287"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.2,"34,552"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"187,911"

#### Q 10) Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

In [67]:
#pass the webpage url
driver.get("https://archive.ics.uci.edu/")

In [68]:
#click on view all datasets
view_all=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a").get_attribute("href")
print(view_all)
driver.get(view_all)

https://archive.ics.uci.edu/ml/datasets.php

In [69]:
#create empty lists
dataset_name=[]
data_type=[]
task=[]
attribute_type=[]
number_of_attributes=[]
number_of_instances=[]
year=[]

#dataset name
for names in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a"):
    dataset_name.append(names.text)
#data type
for dtype in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p"):
    data_type.append(dtype.text)
#task
for t in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]"):
    task.append(t.text)
#type of attribute    
for attribute in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p"):
    attribute_type.append(attribute.text)
#number of attributes
for attribute_count in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]"):
    number_of_attributes.append(attribute_count.text)
#number_of_instances
for instances in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]"):
    number_of_instances.append(instances.text)
#year
for y in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]"):
    year.append(y.text)

print(dataset_name[0:2])
print(data_type[0:2])
print(task[0:2])
print(attribute_type[0:2])
print(number_of_attributes[0:2])
print(number_of_instances[0:2])
print(year[0:2])

['Abalone', 'Adult']
['Data Types', 'Multivariate ']
['Default Task', 'Classification ']
['Attribute Types', 'Categorical, Integer, Real ']
['# Attributes', '8 ']
['# Instances', '4177 ']
['Year', '1995 ']

In [70]:
#checking the lengths
print(len(dataset_name))
print(len(data_type))
print(len(task))
print(len(attribute_type))
print(len(number_of_attributes))
print(len(number_of_instances))
print(len(year))

585
586
586
586
586
586
586

In [71]:
#creating dataframe
df=pd.DataFrame({})
df["Dataset Name"]=dataset_name
df["Data Type"]=data_type[1:] #slicing list at 1 as it includes the heading of column
df["Task"]=task[1:]
df["Attribute type"]=attribute_type[1:]
df["No of instances"]=number_of_instances[1:]
df["No of attribute"]=number_of_attributes[1:]
df["Year"]=year[1:]
df

,Dataset Name,Data Type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020

#### THANK-YOU