In [25]:
import selenium
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [73]:
driver = webdriver.Chrome(r'C:\Users\ASUS\Desktop\sneha\Datatrained\chromedriver_win32\chromedriver.exe')
driver

In [18]:
driver.maximize_window()

In [19]:
url ='https://www.naukri.com/'
driver.get(url)

In [26]:
search_field_designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_field_designation.send_keys("Data Analyst")

In [34]:
search_field_designation = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_field_designation.send_keys("Banglore")

In [35]:
search_button= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_button.click()

In [36]:
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [42]:
job_titles =[]
titles_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in titles_tags:
     job_titles.append(i.text)  
len(job_titles)

20

In [43]:
job_titles

['Data Analyst',
 'APRP Manager / Senior Data Analyst - MeritTrac Services',
 'Sr Data Analyst',
 'Senior Data Management Analyst',
 'Senior Data Analyst - PLM Data Migration',
 'People Data Analyst',
 'Associate Healthcare Research & Data Analyst',
 'Lead Data Analyst',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Master Data Management Business Analyst',
 'Data Analyst',
 'Sr. Data Analyst (SAS Data Management)',
 'Data Analyst',
 'Analyst, Data Science',
 'Data Analyst',
 'Data Analyst 2',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Data Analyst - FinTech',
 'data analyst / data analytics - US MNC (analytics)']

In [47]:
comapany_names = []
companies_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in companies_tags:
    comapany_names.append(i.text)  
len(comapany_names)

20

In [50]:
comapany_names

['Cargill',
 'MeritTrac',
 'Inspira Enterprise India Pvt. Ltd.',
 'Wells Fargo',
 'CGI',
 'Western Digital',
 'Clarivate',
 'Mobile Premier League (MPL)',
 'TeamLease',
 'Accenture',
 'Elasticsearch',
 'NMS Consultant',
 'IBM',
 'Johnson amp;amp; Johnson Ltd',
 'IBM',
 'Zynga',
 'Groundtruth',
 'Mettox Laboratries',
 'Upshoot HR Solutions Pvt. Ltd.',
 'Aspyra HR Services']

In [67]:
 experience= []
experience_tags = driver.find_elements(By.XPATH,"//span[@class ='ellipsis fleft fs12 lh16 expwdth']")
for i in experience_tags:
    experience.append(i.text)  
    
len( experience)

20

In [68]:

location= []
location_tags = driver.find_elements(By.XPATH,"//span[@class ='ellipsis fleft fs12 lh16 locWdth']")
for i in location_tags:
    location.append(i.text)  
    
len(location)

20

In [69]:
experience

['3-5 Yrs',
 '9-14 Yrs',
 '3-4 Yrs',
 '5-7 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '3-4 Yrs',
 '4-7 Yrs',
 '5-8 Yrs',
 '6-8 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '3-4 Yrs',
 '2-4 Yrs',
 '3-4 Yrs',
 '4-7 Yrs',
 '5-8 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '2-7 Yrs']

In [70]:
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Temp. WFH - Gurgaon/Gurugram, Bangalore/Bengaluru']

In [72]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=comapany_names[:10]
jobs['location']=location[:10]
jobs['experience']= experience[:10]
jobs

,title,company,location,experience
0,Data Analyst,Cargill,Bangalore/Bengaluru,3-5 Yrs
1,APRP Manager / Senior Data Analyst - MeritTrac...,MeritTrac,Bangalore/Bengaluru,9-14 Yrs
2,Sr Data Analyst,Inspira Enterprise India Pvt. Ltd.,Bangalore/Bengaluru,3-4 Yrs
3,Senior Data Management Analyst,Wells Fargo,Bangalore/Bengaluru,5-7 Yrs
4,Senior Data Analyst - PLM Data Migration,CGI,Bangalore/Bengaluru,3-6 Yrs
5,People Data Analyst,Western Digital,Bangalore/Bengaluru,6-8 Yrs
6,Associate Healthcare Research & Data Analyst,Clarivate,Bangalore/Bengaluru,3-4 Yrs
7,Lead Data Analyst,Mobile Premier League (MPL),Bangalore/Bengaluru,4-7 Yrs
8,Contractual Hiring For Top MNC || Business Dat...,TeamLease,Bangalore/Bengaluru,5-8 Yrs
9,Master Data Management Business Analyst,Accenture,Bangalore/Bengaluru,6-8 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:#

In [75]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [76]:
driver = webdriver.Chrome(r'C:\Users\ASUS\Desktop\sneha\Datatrained\chromedriver_win32\chromedriver.exe')
driver

In [77]:
driver.get('https://www.naukri.com/')

In [81]:
search_field_designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [84]:
# Clicking on Search button
search_button= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_button.click()

In [86]:
location= []
location_tags = driver.find_elements(By.XPATH,"//span[@class ='ellipsis fleft fs12 lh16 locWdth']")
for i in location_tags:
    location.append(i.text)

In [87]:
salary= []
salary_tags = driver.find_elements(By.XPATH,"//span[@class ='ellipsis fleft fs12 lh16 ']")
for i in salary_tags:
    salary.append(i.text)

In [89]:
titles_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
titles_tags[:10]
for i in titles_tags:
    title=i.text
    job_titles.append(title)
    if len(job_titles)==10:
        break
job_titles

['Data Analyst',
 'APRP Manager / Senior Data Analyst - MeritTrac Services',
 'Sr Data Analyst',
 'Senior Data Management Analyst',
 'Senior Data Analyst - PLM Data Migration',
 'People Data Analyst',
 'Associate Healthcare Research & Data Analyst',
 'Lead Data Analyst',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Master Data Management Business Analyst',
 'Data Analyst',
 'Sr. Data Analyst (SAS Data Management)',
 'Data Analyst',
 'Analyst, Data Science',
 'Data Analyst',
 'Data Analyst 2',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Data Analyst - FinTech',
 'data analyst / data analytics - US MNC (analytics)',
 'Analystics & Modeling Specialist',
 'Assistant Manager - Data Science',
 'Senior Data Scientist',
 'Program Manager, Analytics',
 'Data Scientist - Looking For Immediate Joiners',
 'Senior Data Scientist',
 'Data Scientist - II',
 'Lead ML Scientist',
 'Senior Data Scientist',
 'Python Programming Language Data Science Practitioner',
 'Industry X - Software Engineering',
 'Data Scientist: Artificial Intelligence',
 'ACN - Applied Intelligence - C4DI - Sustainability - 09',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'ACN - Applied Intelligence - Data Scientist - 09',
 'Data Scientist - 2',
 'Data Scientist',
 'Data Scientist']

In [93]:
companies_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
companies_tags[:10]
for i in companies_tags:
    company_name= i.text
    company_names.append(company_name)
    if len(company_names)==10:
        break
company_names

['Accenture',
 'Citiustech',
 'Wipro',
 'Uber',
 'Wipro',
 'Boston Consulting Group',
 'Bizongo',
 'Fractal Analytics',
 'Baker Hughes',
 'Accenture']

In [96]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=comapany_names[:10]

jobs

,title,company
0,Data Analyst,Cargill
1,APRP Manager / Senior Data Analyst - MeritTrac...,MeritTrac
2,Sr Data Analyst,Inspira Enterprise India Pvt. Ltd.
3,Senior Data Management Analyst,Wells Fargo
4,Senior Data Analyst - PLM Data Migration,CGI
5,People Data Analyst,Western Digital
6,Associate Healthcare Research & Data Analyst,Clarivate
7,Lead Data Analyst,Mobile Premier League (MPL)
8,Contractual Hiring For Top MNC || Business Dat...,TeamLease
9,Master Data Management Business Analyst,Accenture

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand
Product Description
Price The attributes which you have to scrape is ticked marked in the below image

In [97]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [98]:
driver = webdriver.Chrome(r'C:\Users\ASUS\Desktop\sneha\Datatrained\chromedriver_win32\chromedriver.exe')
driver

In [99]:
driver.get('https://www.flipkart.com/')

In [100]:
search_glasses=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search_glasses.send_keys("Sunglasses")

In [105]:
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [106]:
glass_brand=[]
Product_description=[]
Price_product=[]
Product_discount=[]

In [107]:
brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brands:
    brand=i.text
    glass_brand.append(brand)
    if len(glass_brand)==40:
        break
glass_brand

['RESIST EYEWEAR',
 'Poshh eyewear',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'New Specs',
 'ROZZETTA CRAFT',
 'SRPM',
 'Sewell',
 'ROZZETTA CRAFT',
 'Resist',
 'SRPM',
 'Fastrack',
 'SUNBEE',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Elligator',
 'DEXENT COLLECTION',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'Singco India',
 'kingsunglasses',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'Elligator',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'ROYAL SON',
 'OCHILA',
 'Fastrack',
 'Fastrack']

In [108]:
products=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in products:
    product=i.text
    Product_description.append(product)
    if len(Product_description)==40:
        break
Product_description

['Polarized, Riding Glasses, UV Protection Wayfarer Sungl...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Toughened Glass Lens, UV Protection, Riding Glasses, Ph...',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (62)',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Shield Sunglasses (6...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)']

In [109]:
price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price:
    price=i.text
    Price_product.append(price)
    if len(Price_product)==40:
        break
Price_product

['₹1,399',
 '₹299',
 '₹649',
 '₹519',
 '₹209',
 '₹629',
 '₹265',
 '₹379',
 '₹149',
 '₹265',
 '₹426',
 '₹1,399',
 '₹199',
 '₹579',
 '₹283',
 '₹649',
 '₹474',
 '₹474',
 '₹519',
 '₹176',
 '₹227',
 '₹379',
 '₹251',
 '₹649',
 '₹559',
 '₹197',
 '₹575',
 '₹222',
 '₹185',
 '₹474',
 '₹190',
 '₹379',
 '₹268',
 '₹323',
 '₹579',
 '₹649',
 '₹699',
 '₹249',
 '₹939',
 '₹679']

In [110]:
discount=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount:
    discount=i.text
    Product_discount.append(discount)
    if len(Product_discount)==40:
        break
Product_discount

['72% off',
 '80% off',
 '35% off',
 '35% off',
 '86% off',
 '30% off',
 '86% off',
 '81% off',
 '88% off',
 '82% off',
 '78% off',
 '72% off',
 '80% off',
 '35% off',
 '78% off',
 '27% off',
 '76% off',
 '76% off',
 '35% off',
 '82% off',
 '49% off',
 '81% off',
 '84% off',
 '35% off',
 '30% off',
 '83% off',
 '80% off',
 '77% off',
 '89% off',
 '76% off',
 '80% off',
 '86% off',
 '89% off',
 '87% off',
 '35% off',
 '67% off',
 '65% off',
 '79% off',
 '27% off',
 '24% off']

In [111]:
print(len(glass_brand),len(Product_description),len(Price_product),len(Product_discount))

40 40 40 40

In [112]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button.click()
time.sleep(5)

In [113]:
glass_brand1=[]
brand1=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand1:
    brand1=i.text
    glass_brand1.append(brand1)
glass_brand1

['Silver Kartz',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'Silver Kartz',
 'Poshh eyewear',
 'Urbanic',
 'DEIXELS',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'GANSTA',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Silver Kartz',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'Singco India',
 'ROZZETTA CRAFT',
 'GANSTA',
 'Satyam Kraft',
 'PIRASO',
 'PHENOMENAL',
 'ROYAL SON',
 'VINCENT CHASE',
 'Rich Club',
 'kingsunglasses',
 'Silver Kartz',
 'ROYAL SON',
 'kingsunglasses',
 'Fastrack',
 'GANSTA',
 'Lee Topper',
 'VINCENT CHASE',
 'ROYAL SON',
 'IDEE',
 'Urbanic']

In [114]:
Product_description1=[]
products1=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in products1:
    product1=i.text
    Product_description1.append(product1)
Product_description1

['UV Protection Clubmaster Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'Gradient, UV Protection Round, Oval, Cat-eye Sunglasses...',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Others Wayfarer Sunglasses (50)',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Retro Square Sunglasses (53)',
 'Others Spectacle Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Retro Square Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer, Aviator Sunglasses (88)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Night Vision, Riding Glasses Rectangular Sunglasses (60...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Cat-eye Sunglasses (17)',
 'Others Retro Square Sunglasses (Free Size)']

In [115]:
Price_product1=[]
price1=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price1:
    price1=i.text
    Price_product1.append(price1)
Price_product1

['₹279',
 '₹331',
 '₹251',
 '₹679',
 '₹251',
 '₹939',
 '₹288',
 '₹199',
 '₹359',
 '₹236',
 '₹664',
 '₹664',
 '₹579',
 '₹296',
 '₹379',
 '₹314',
 '₹359',
 '₹759',
 '₹616',
 '₹222',
 '₹296',
 '₹339',
 '₹220',
 '₹299',
 '₹251',
 '₹350',
 '₹474',
 '₹949',
 '₹292',
 '₹260',
 '₹288',
 '₹664',
 '₹282',
 '₹809',
 '₹228',
 '₹219',
 '₹749',
 '₹664',
 '₹959',
 '₹439']

In [116]:
Product_discount1=[]
discount1=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount1:
    discount1=i.text
    Product_discount1.append(discount1)
Product_discount1

['81% off',
 '83% off',
 '84% off',
 '24% off',
 '84% off',
 '27% off',
 '80% off',
 '80% off',
 '54% off',
 '60% off',
 '55% off',
 '66% off',
 '27% off',
 '85% off',
 '81% off',
 '80% off',
 '75% off',
 '62% off',
 '75% off',
 '77% off',
 '85% off',
 '83% off',
 '87% off',
 '75% off',
 '84% off',
 '82% off',
 '68% off',
 '52% off',
 '58% off',
 '82% off',
 '75% off',
 '66% off',
 '81% off',
 '19% off',
 '82% off',
 '78% off',
 '62% off',
 '66% off',
 '63% off',
 '59% off']

In [117]:
driver.close()

In [118]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import NoSuchWindowException

In [119]:
driver = webdriver.Chrome(r'C:\Users\ASUS\Desktop\sneha\Datatrained\chromedriver_win32\chromedriver.exe')

In [120]:
driver.maximize_window()

In [121]:
url = 'https://www.jagranjosh.com/'
driver.get(url)

In [122]:
s_g = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a').click();

In [123]:
list_pm = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a').click();

In [124]:
table = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]').click();

In [125]:
L_name =[]
name = driver.find_elements(By.XPATH,'//table/tbody/tr[2]/td[2]/p/strong')
for L_name in name:
    print(L_name.text)

Jawahar Lal Nehru

In [126]:
B_D =[]
born_dead = driver.find_elements(By.XPATH,'//table/tbody/tr[2]/td[3]/p')
for B_D in born_dead:
    print(B_D .text)

(1889–1964)

In [127]:
term_of_office =[]
t_o_o = driver.find_elements(By.XPATH,'//table/tbody/tr[2]/td[4]/p[2]/span')
for term_of_office in t_o_o:
    print(term_of_office .text)

16 years, 286 days

In [128]:
r = []
remark = driver.find_elements(By.XPATH,'//table/tbody/tr[2]/td[5]/p')
for r in remark:
    print(r.text)

The first prime minister of India and the longest-serving PM of India, the first to die in office.

In [131]:
list_of_pm =[]
for i in range(len(name)):
    temp_data = {'NAME': L_name[i].text,
                'BORN_DEAD': B_D[i].text,
                'TERM_OF_OFFICE': term_of_office[i].text,
                'REMARK': r[i].text}
list_of_pm.append(temp_data)

TypeError: 'WebElement' object is not subscriptable

In [130]:
df_data = pd.DataFrame(list_of_pm)
df_data

Empty DataFrame
Columns: []
Index: []

In [132]:
driver.close()

In [133]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [134]:
driver = webdriver.Chrome(r'C:\Users\ASUS\Desktop\sneha\Datatrained\chromedriver_win32\chromedriver.exe')

In [135]:
driver.maximize_window()

In [136]:
url = 'https://www.azquotes.com/'
driver.get(url)

In [137]:
top_quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')  
top_quotes.click()

In [138]:
search_quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/ul/li/div/p')
search_quotes.click()

In [139]:
type_quotes = driver.find_element(By.CLASS_NAME,"author")
type_quotes.click()